## The Restaurantour - Neighborhood Demographics

Gathering LA demographic data from excel files into df

Map boundary info:
https://usc.data.socrata.com/dataset/Los-Angeles-Neighborhood-Map/r8qd-yxsr

In [1]:
import os

# load survey results into df:
fpath = 'drlaurenmac/the-restaurantour/data-wrangling/datasets/USC/'

dir_list = os.listdir(fpath) #list of all files downloaded from USC website
dir_list

['Above Middle Income Households - 2018.xlsx',
 'Air Quality Index - 2021.xlsx',
 'American Indian_Native Population - 2020.xlsx',
 'Asian Population - 2020.xlsx',
 'Average Household Size - 2020.xlsx',
 'Bikes or Walks - 2019.xlsx',
 'Black Population - 2020.xlsx',
 'Calls for Service - 2019.xlsx',
 'Children in Single-Parent Households - 2020.xlsx',
 'Chronic Absenteeism - 2019.xlsx',
 'College Enrollment - 2019.xlsx',
 'College Graduation Rate - 2019.xlsx',
 'Disability Status - 2020.xlsx',
 'Divorced_Separated Population - 2020.xlsx',
 'Existing Tree Canopy Cover - 2016.xlsx',
 'Extremely Low Income Households - 2018.xlsx',
 'Families with Children - 2020.xlsx',
 'Grocery Store Access - 2019.xlsx',
 'Hispanic Population - 2020.xlsx',
 'Homeownership Rate - 2019.xlsx',
 'Immigrant Population - 2020.xlsx',
 'Jobs in Accommodation and Food Services - 2018.xlsx',
 'Jobs in Arts, Entertainment & Recreation - 2018.xlsx',
 'Jobs in Educational Services - 2018.xlsx',
 'Jobs in Finance & Insurance - 2018.xlsx',
 'Jobs in Management of Companies & Enterprises - 2018.xlsx',
 'Jobs in Professional, Scientific & Technical Services - 2018.xlsx',
 'Jobs in Retail Trade - 2018.xlsx',
 'Juvenile Arrest Rate - 2019.xlsx',
 'Labor Force Participation Rate - 2018.xlsx',
 'Less Than High School - 2019.xlsx',
 'Low Income Households - 2018.xlsx',
 'Married Population - 2020.xlsx',
 'Median Household Income - 2018.xlsx',
 'Middle Income Households - 2018.xlsx',
 'Native Hawaiian_Other Pacific Islander Population - 2020.xlsx',
 'Never-Married Population - 2020.xlsx',
 'No Vehicle Households - 2019.xlsx',
 'Other Race Population - 2020.xlsx',
 'Part I Property Crimes - 2019.xlsx',
 'Part I Violent Crimes - 2019.xlsx',
 'Part II Crimes - 2019.xlsx',
 'Pedestrian Stop Rate - 2019.xlsx',
 'Pollution Burden Score - 2021.xlsx',
 'Population Ages 18-24 - 2020.xlsx',
 'Population Ages 25-34 - 2020.xlsx',
 'Population Ages 35-44 - 2020.xlsx',
 'Population Ages 45-54 - 2020.xlsx',
 'Population Ages 55-64 - 2020.xlsx',
 'Population Ages 65 & Older - 2020.xlsx',
 'Population Under Age 18 - 2020.xlsx',
 'Public Transit - 2019.xlsx',
 'Rent Burden - 2019.xlsx',
 'Rent Price - 2019.xlsx',
 'Renter Rate - 2019.xlsx',
 'Strong Start Index - 2019.xlsx',
 'Total Arrest Rate - 2019.xlsx',
 'Total Homeless Population - 2019.xlsx',
 'Total Housing Units - 2019.xlsx',
 'Total Population - 2020.xlsx',
 'Two or More Races Population - 2020.xlsx',
 'Unemployment Rate - 2018.xlsx',
 'Vacant Commercial Properties - 2019.xlsx',
 'Vacant Residential Properties - 2019.xlsx',
 'Vehicle Stop Rate - 2019.xlsx',
 'Very Low Income Households - 2018.xlsx',
 'Veteran Status - 2020.xlsx',
 'Water Quality Index - 2021.xlsx',
 'White Population - 2020.xlsx',
 'Widowed Population - 2020.xlsx']

In [2]:
import pandas as pd

for i, file in enumerate(dir_list):
    if i == 0:
        df_all = pd.read_excel(fpath + file, sheet_name='Sheet1')
        df_all = df_all.drop(['year','denom_all_households'],axis=1)
    else:
        df = pd.read_excel(fpath + file, sheet_name='Sheet1')
        #drop the year column (not needed)
        df = df.drop('year',axis=1)
        #also, unless it is the Air Quality data, drop any column containing "denom"
        if 'Air Quality' not in file:
            cols = df.columns
            for col in cols:
                if 'denom' in col:
                    df = df.drop(col,axis=1)
        #merge df based on the name column
        df_all = df_all.merge(df, how='outer', on='name')

df_all.head()

,name,Above Middle Income Households,denom_total_pop_2021,Air Quality Index,American Indian/Native Population,Asian Population,Average Household Size,Bikes or Walks,Black Population,Calls for Service,...,Two or More Races Population,Unemployment Rate,vacant_commercial_count,vacant_residential_count,Vehicle Stop Rate,Very Low Income Households,Veteran Status,Water Quality Index,White Population,Widowed Population
0,Irwindale,36%,1711,12,0%,4%,3.0,4%,0%,NaN,...,0%,9%,74.0,4.0,NaN,17%,5%,714,7%,7%
1,Pico-Union,11%,40930,12,0%,11%,3.0,7%,3%,243.0,...,0%,8%,54.0,82.0,153.0,25%,1%,788,4%,4%
2,Glendora,57%,55094,12,0%,12%,3.0,4%,2%,NaN,...,3%,7%,133.0,115.0,NaN,11%,6%,513,47%,5%
3,Industry,40%,22662,12,0%,27%,4.0,2%,2%,NaN,...,1%,6%,156.0,18.0,NaN,14%,5%,713,11%,5%
4,Sylmar,39%,80445,11,0%,6%,4.0,1%,2%,128.0,...,1%,5%,57.0,75.0,36.0,14%,4%,718,11%,4%

In [3]:
# convert all percentages into fractions
def change_percent(row):
    num_str = row.replace('%','')
    return float(num_str) / 100

for col in df_all.columns:
    if type(df_all[col][0]) == str:
        if '%' in df_all[col][0]:
            df_all[col] = df_all[col].astype(str)
            df_all[col] = df_all[col].apply(change_percent)

df_all.head()

,name,Above Middle Income Households,denom_total_pop_2021,Air Quality Index,American Indian/Native Population,Asian Population,Average Household Size,Bikes or Walks,Black Population,Calls for Service,...,Two or More Races Population,Unemployment Rate,vacant_commercial_count,vacant_residential_count,Vehicle Stop Rate,Very Low Income Households,Veteran Status,Water Quality Index,White Population,Widowed Population
0,Irwindale,0.36,1711,12,0.0,0.04,3.0,0.04,0.00,NaN,...,0.00,0.09,74.0,4.0,NaN,0.17,0.05,714,0.07,0.07
1,Pico-Union,0.11,40930,12,0.0,0.11,3.0,0.07,0.03,243.0,...,0.00,0.08,54.0,82.0,153.0,0.25,0.01,788,0.04,0.04
2,Glendora,0.57,55094,12,0.0,0.12,3.0,0.04,0.02,NaN,...,0.03,0.07,133.0,115.0,NaN,0.11,0.06,513,0.47,0.05
3,Industry,0.40,22662,12,0.0,0.27,4.0,0.02,0.02,NaN,...,0.01,0.06,156.0,18.0,NaN,0.14,0.05,713,0.11,0.05
4,Sylmar,0.39,80445,11,0.0,0.06,4.0,0.01,0.02,128.0,...,0.01,0.05,57.0,75.0,36.0,0.14,0.04,718,0.11,0.04

In [ ]:
# save to a pickle file
import pickle
fpath = 'drlaurenmac/the-restaurantour/data-wrangling/datasets/'
with open(fpath + 'df_demo.pkl','wb') as f:
    pickle.dump(df_all, f)

In [4]:
#load in the map boundary data to get the polygons
fname = 'la_neighborhoods.csv'
df_map = pd.read_csv(fpath + fname)
df_map.head()

,set,slug,the_geom,kind,external_i,name,display_na,sqmi,type,name_1,slug_1,latitude,longitude,location
0,L.A. County Neighborhoods (Current),acton,MULTIPOLYGON (((-118.20261747920541 34.5389897...,L.A. County Neighborhood (Current),acton,Acton,Acton L.A. County Neighborhood (Current),39.339109,unincorporated-area,NaN,NaN,-118.169810,34.497355,POINT(34.497355239240846 -118.16981019229348)
1,L.A. County Neighborhoods (Current),adams-normandie,MULTIPOLYGON (((-118.30900800000012 34.0374109...,L.A. County Neighborhood (Current),adams-normandie,Adams-Normandie,Adams-Normandie L.A. County Neighborhood (Curr...,0.805350,segment-of-a-city,NaN,NaN,-118.300208,34.031461,POINT(34.031461499124156 -118.30020800000011)
2,L.A. County Neighborhoods (Current),agoura-hills,MULTIPOLYGON (((-118.76192500000009 34.1682029...,L.A. County Neighborhood (Current),agoura-hills,Agoura Hills,Agoura Hills L.A. County Neighborhood (Current),8.146760,standalone-city,NaN,NaN,-118.759885,34.146736,POINT(34.146736499122795 -118.75988450000015)
3,L.A. County Neighborhoods (Current),agua-dulce,MULTIPOLYGON (((-118.2546773959221 34.55830403...,L.A. County Neighborhood (Current),agua-dulce,Agua Dulce,Agua Dulce L.A. County Neighborhood (Current),31.462632,unincorporated-area,NaN,NaN,-118.317104,34.504927,POINT(34.504926999796837 -118.3171036690717)
4,L.A. County Neighborhoods (Current),alhambra,MULTIPOLYGON (((-118.12174700000014 34.1050399...,L.A. County Neighborhood (Current),alhambra,Alhambra,Alhambra L.A. County Neighborhood (Current),7.623814,standalone-city,NaN,NaN,-118.136512,34.085539,POINT(34.085538999123571 -118.13651200000021)

In [5]:
#drop some columns from df_map
df_map_clean = df_map.copy()

cols_to_drop = ['set','kind', 'external_i','display_na','name_1', 'slug_1','location']
df_map_clean = df_map_clean.drop(cols_to_drop,axis=1)
df_map_clean.head()

,slug,the_geom,name,sqmi,type,latitude,longitude
0,acton,MULTIPOLYGON (((-118.20261747920541 34.5389897...,Acton,39.339109,unincorporated-area,-118.169810,34.497355
1,adams-normandie,MULTIPOLYGON (((-118.30900800000012 34.0374109...,Adams-Normandie,0.805350,segment-of-a-city,-118.300208,34.031461
2,agoura-hills,MULTIPOLYGON (((-118.76192500000009 34.1682029...,Agoura Hills,8.146760,standalone-city,-118.759885,34.146736
3,agua-dulce,MULTIPOLYGON (((-118.2546773959221 34.55830403...,Agua Dulce,31.462632,unincorporated-area,-118.317104,34.504927
4,alhambra,MULTIPOLYGON (((-118.12174700000014 34.1050399...,Alhambra,7.623814,standalone-city,-118.136512,34.085539

In [6]:
#create polygons using the map data
from shapely.geometry import Point, Polygon, MultiPolygon

def create_poly(val):
    vals = val.replace('MULTIPOLYGON (((','').replace(')))','').split(',')
    coords = []
    for v in vals:
        if ')' in v:
            return float('NaN') #flag as NaN, need to use the multipoly fxn instead
        new_val = v.strip().split(' ')
        coords.append((float(new_val[0]), float(new_val[1])))

    return Polygon(coords)

# create polygons for simple shaped neighborhoods
df_map_clean['polygon'] = df_map_clean['the_geom'].apply(create_poly)
df_map_clean.head()

,slug,the_geom,name,sqmi,type,latitude,longitude,polygon
0,acton,MULTIPOLYGON (((-118.20261747920541 34.5389897...,Acton,39.339109,unincorporated-area,-118.169810,34.497355,POLYGON ((-118.2026174792054 34.53898972076929...
1,adams-normandie,MULTIPOLYGON (((-118.30900800000012 34.0374109...,Adams-Normandie,0.805350,segment-of-a-city,-118.300208,34.031461,POLYGON ((-118.3090080000001 34.03741099912408...
2,agoura-hills,MULTIPOLYGON (((-118.76192500000009 34.1682029...,Agoura Hills,8.146760,standalone-city,-118.759885,34.146736,POLYGON ((-118.7619250000001 34.16820299912263...
3,agua-dulce,MULTIPOLYGON (((-118.2546773959221 34.55830403...,Agua Dulce,31.462632,unincorporated-area,-118.317104,34.504927,POLYGON ((-118.2546773959221 34.55830403375057...
4,alhambra,MULTIPOLYGON (((-118.12174700000014 34.1050399...,Alhambra,7.623814,standalone-city,-118.136512,34.085539,POLYGON ((-118.1217470000001 34.10503999912332...

In [7]:
# create a different function that will deal with the multipolygons:
import re

def create_multipoly(val):
    split_val = val.replace('MULTIPOLYGON (((','').split(')')
    all_vals = [split_val[0]] #first is already cleaned
    for sv in split_val:
        if sv:
            found = re.findall('\(?\((.*)',sv)
            if found:
                all_vals.append(found[0])
    mult_polys = []

    #put the largest string in the first position:
    s_lengths = [len(s) for s in all_vals]
    max_s = max(s_lengths)
    for i, s in enumerate(all_vals):
        if len(s) == max_s:
            largest = [all_vals.pop(i)]
    all_vals = largest + all_vals

    #now create the polys - some are supposed to have holes
    for i, s in enumerate(all_vals):
        coords = []
        vals = s.split(',')
        for v in vals:
            new_val = v.strip().split(' ')
            coords.append((float(new_val[0]), float(new_val[1])))
        if i == 0:
            first_poly = Polygon(coords)
        mult_polys.append(Polygon(coords))
    #check to see if any of the polys are within the first poly:
    hole_approach = 0
    for i in range(1,len(mult_polys)):
        if mult_polys[i].within(first_poly):
            hole_approach = 1

    if not hole_approach:
        return MultiPolygon(mult_polys)
    else:
        mult_coords = []
        hole_coords = []
        for i, s in enumerate(all_vals): #reorder_vals
            coords = []
            vals = s.split(',')
            for v in vals:
                new_val = v.strip().split(' ')
                coords.append((float(new_val[0]), float(new_val[1])))
            if i == 0:
                mult_coords.append(tuple(coords))
            else:
                hole_coords.append(tuple(coords))
        mult_coords.append(hole_coords)
        return MultiPolygon([tuple(mult_coords)])

#create multipolygons for locations flagged with NaNs
df_map_clean.loc[df_map_clean['polygon'].isna(),'polygon'] = df_map_clean.loc[df_map_clean['polygon'].isna(),'the_geom'].apply(create_multipoly)
df_map_clean.head()

,slug,the_geom,name,sqmi,type,latitude,longitude,polygon
0,acton,MULTIPOLYGON (((-118.20261747920541 34.5389897...,Acton,39.339109,unincorporated-area,-118.169810,34.497355,POLYGON ((-118.2026174792054 34.53898972076929...
1,adams-normandie,MULTIPOLYGON (((-118.30900800000012 34.0374109...,Adams-Normandie,0.805350,segment-of-a-city,-118.300208,34.031461,POLYGON ((-118.3090080000001 34.03741099912408...
2,agoura-hills,MULTIPOLYGON (((-118.76192500000009 34.1682029...,Agoura Hills,8.146760,standalone-city,-118.759885,34.146736,POLYGON ((-118.7619250000001 34.16820299912263...
3,agua-dulce,MULTIPOLYGON (((-118.2546773959221 34.55830403...,Agua Dulce,31.462632,unincorporated-area,-118.317104,34.504927,POLYGON ((-118.2546773959221 34.55830403375057...
4,alhambra,MULTIPOLYGON (((-118.12174700000014 34.1050399...,Alhambra,7.623814,standalone-city,-118.136512,34.085539,POLYGON ((-118.1217470000001 34.10503999912332...

In [8]:
#need to create a special function to handle Industry neighborhood:
def create_multipoly_Industry(val):
    split_val = val.replace('MULTIPOLYGON (((','').split(')')
    all_vals = [split_val[0]] #first is already cleaned
    for sv in split_val:
        if sv:
            found = re.findall('\(?\((.*)',sv)
            if found:
                all_vals.append(found[0])
    mult_polys = []

    #put the largest string in the first position:
    s_lengths = [len(s) for s in all_vals]
    max_s = max(s_lengths)
    for i, s in enumerate(all_vals):
        if len(s) == max_s:
            largest = [all_vals.pop(i)]
    all_vals = largest + all_vals

    #for Industry, use only the first poly
    coords = []
    vals = all_vals[0].split(',')
    for v in vals:
        new_val = v.strip().split(' ')
        coords.append((float(new_val[0]), float(new_val[1])))
    return Polygon(coords)

In [9]:
#Industry is in location 120, replace with new poly
df_map_clean.loc[120,'polygon'] = create_multipoly_Industry(df_map_clean['the_geom'][120])

In [10]:
#Do the same thing for Palmdale (polygon is not 100% correct, but hole area is without restaurants)
df_map_clean.loc[174,'polygon'] = create_multipoly_Industry(df_map_clean['the_geom'][174])

In [ ]:
#save the map data
with open(fpath + 'df_map.pkl','wb') as f:
    pickle.dump(df_map_clean, f)